
:root{
	--tw-black: #131722;
	--bn-black: #0B0E11;
	--tw-grey: #434651;
	--tw-lightgrey: #d1d4dc;
	--tw-blue: #143a87;
	--tw-lightblue: #2962ff;
	--tw-red: #f23645;
	--tw-green: #089981;
}


#button{
	padding: 8px;
	width: 100px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.1s;
}

button:hover{
transform: scale(1.05);
}

.container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pages {
display: flex;
	width: 1000%;
	height: 100vh;
	box-sizing: border-box;
}

.page {
width: 100vw;
height: 100vh;
/*
display: flex;
align-items: center;
justify-content: flex-start;*/
transition: all 0.7s;
color: white;
}

.one {
background-image: url(img/stock1920.jpg);
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
}

.auto-invest{
	background: var(--tw-black);
	background-image: url(img/stock1920.jpg);
}

.saving-staking {
	background: var(--tw-black);
	background-image: url(img/stock1920.jpg);
}

.b-idx-asset {
	background: var(--tw-black);
	background-image: url(img/stock1920.jpg);
}

.b-cmc-idx {
	background: var(--tw-black);
	background-image: url(img/stock1920.jpg);
}

.three{
	background: var(--bn-black);
}