
:root{
	--tw-black: #131722;
	--bn-black: #0B0E11;
	--bn-yellow: rgb(240, 185, 11);
	--tw-grey: #434651;
	--tw-lightgrey: #d1d4dc;
	--tw-blue: #143a87;
	--tw-lightblue: #2962ff;
	--tw-red: #f23645;
	--tw-green: #089981;
}

button:hover{
transform: scale(1.05);
}

.container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pages {
	display: flex;
	width: 900%;
	height: 100vh;
	box-sizing: border-box;
}

.page {
width: 100vw;
height: 100vh;
transition: all 0.7s;
color: white;
}

.one {
	background-image: url(img/stock1920.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.auto-invest{
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.saving-staking {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.b-cmc-idx {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.auto-invest-calc {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.rebalancing-bot {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.spot-dca {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.spot-grid {
	background: var(--bn-black);
	background-image: url(img/stock1920.jpg);
}

.three{
	background: var(--bn-black);
}