body, #maindiv {
	background-color: rgb(19,23,34);
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/**/
.divstyle {
	width: fit-content;
	height: 200x;
	border: 2px solid black;
}

/**/
.mainchart {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	left: 15%;
	width: 100%;
	height: 400px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: 3%;
	margin-left: 5%;
}

.subchart {
	/*user-select: none;
	-webkit-tap-highlight-color: transparent;
	top: 57%;
	left: 60%;
	width: 100%;
	max-width: 500px;
	height: 100%;
	max-height: 500px;
	position: absolute;
	margin-bottom: 3%;
	margin-left: 5%;*/
	position: relative;
	margin: auto;
	margin-top: 2%;
	width: fit-content;
	max-width: 80%;
	height: fit-content;

	
	border: 3px solid var(--tw-grey);
}

.r_subchart{

	/*height: auto;
	margin: auto;
	margin-top: 5%;
	margin-right: 10%;
	width:  80%;*/
}

/*TABLE*/
#infodiv1 {
	/*#d1d4dc
	position: absolute;
	top: 15%;
	left: 70%;
	border-radius: 25px;
	border: 3px solid var(--tw-grey);
	padding: 10px;*/

	position: relative;
	width: fit-content;
	height: fit-content;
	border: 3px solid var(--tw-grey);
	margin: auto;
	margin-top: 20%;
	width: 80%;
	
}

#infodiv2 {
	/*#d1d4dc*/
	left: 15%;
	width: 100%;
	height: 100px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: 3%;
	margin-left: 5%;
	border-radius: 25px;
	border: 3px solid var(--tw-grey);
	background: var(--tw-black);
	color: var(--tw-lightgrey);
	/*padding: 20px;*/
}

form{
	width: 100%;
}

.settings {
	background-color: inherit;
	color: inherit;
}

select option {
	margin: 40px;
	background-color: rgb(19,23,34);
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(19,23,34);
}

.bn_next, .bn_prev{
	position: relative;
	 color: white;
	width: 10vw;
	font-weight: bold;
}
