body, #maindiv {
	background-color: var(--tw-black);
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow-y: hidden;
}

#title_page_label_large {
	font-size: 9vw;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
}

#title_page_label_small {
	font-size: 16px;
	font-weight: 700;	
	letter-spacing: 4px;
	font-family: Poppins, Arial, sans-serif;
	text-transform: uppercase;
	color: #f5e4c3;
	display: block;
	position: relative;

}

.divstyle {
	width: fit-content;
	height: 200x;
	border: 2px solid black;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tw-black);
	color: var(--tw-black);
}

.mainchart {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	left: 15%;
	width: 100%;
	height: 400px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: 3%;
	margin-left: 5%;
}

.price-info-chart {

	position: relative;
	height: 33vh;
	max-height: 70vh;
	flex: 1;
	overflow: hidden;
	width: 98%;
	padding: 0;

}

.price-info-chart_dca {

	position: relative;
	height: 70vh;
	max-height: 70vh;
	flex: 1;
	overflow: hidden;
	width: 98%;
	padding: 0;

}

@media screen and (max-height: 768px) {

	.price-info-chart {

		position: relative;
		height: 33vh;
		max-height: 70vh;
		flex: 1;
		overflow: hidden;
		width: 98%;
		padding: 0;
	}
}


.subchart {

	position: relative;
	margin: auto;
	margin-top: 2%;
	width: fit-content;
	max-width: 70%;
	height: fit-content;

	
	border: 3px solid var(--tw-grey);
}

.r_subchart{

	/*height: auto;
	margin: auto;
	margin-top: 5%;
	margin-right: 10%;
	width:  80%;*/
}

/*TABLE*/
#infodiv1 {
	position: relative;
	min-width: fit-content;
	height: fit-content;
	border: 3px solid var(--tw-grey);
	margin: auto;
	margin-top: 20%;
	width: 80%;
	
}

#infodiv2 {
	left: 15%;
	width: 100%;
	height: 100px;
	position: relative;
	top: 0px;
	margin-bottom: 3%;
	margin-left: 5%;
	border-radius: 25px;
	border: 3px solid var(--tw-grey);
	background: var(--tw-black);
	color: var(--tw-lightgrey);
}

form{
	width: 100%;
}

.settings {
	background-color: inherit;
	color: inherit;
}

select option {
	margin: 40px;
	background-color: rgb(19,23,34);
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(19,23,34);
}

.bn_next, .bn_prev{
	position: relative;
	color: white;
	width: 10vw;
	font-weight: bold;
}

.pg4_table_img {
	position: relative;
	width: 24px;
	height: 24px;
	background-color: var(--tw-black);
	border-radius: 50%;
}

.saving_staking_table_img_mark_red {
	position: relative;
	width: 24px;
	height: 24px;
	/*background-color: var(--tw-black);*/
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* start glow effect */
	animation: glowRed 2s ease-in-out infinite alternate; /* add animation effect */
}

@keyframes glowRed {
	from {
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* start glow effect */
	}
	to {
	box-shadow: 0 0 20px rgba(255, 0, 0, 1.0); /* end glow effect */
	}
}

/* green marks*/
.saving_staking_table_img_mark_green {
	position: relative;
	width: 24px;
	height: 24px;
	background-color: var(--tw-black);
	border-radius: 50%;
	/*margin-top: 0.5vh;
	margin-bottom: 0.5vh;*/
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.1); /* start glow effect */
	animation: glowGreen 2s ease-in-out infinite alternate; /* add animation effect */
}

@keyframes glowGreen {
	from {
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.1); /* start glow effect */
	}
	to {
	box-shadow: 0 0 20px rgba(0, 255, 0, 1.0); /* end glow effect */
	}
}



.dot {
	position: relative;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	display:inline-flex;
	
	
	/*text-align: center; 
	vertical-align: middle;*/
}

#pg4_table td {
	/*border: 2px solid var(--tw-grey);*/
	border-bottom: 1px solid var(--tw-grey);
}

#pg4_realtime_widget {
	border: 2px solid var(--tw-grey);
	width: inherit; 
	height: 100%; 
	position: sticky; 
	top: 0; 
	left: 0; 
	display: flex; 
	flex-wrap: wrap; 
	align-content: flex-start;
	background-color: #333;
}

#pg4_realtime_widget_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pg4_realtime_widget_header .span {
	padding-right: 5px;
	margin-right: 17px;
	display: flex;
	justify-content: space-between;
}

#pg4_realtime_widget_header .span:last-child {
	margin-right: 0; /* remove right margin from the last box */
}

#pg4_realtime_widget .watchdiv {
	width: inherit; 
	height: 30px;
	overflow: visible;
	float: right;
	display: flex;
	justify-content: space-between;
}

.pg4span {
	padding-left: 5px;
	/*margin-right: 10px;*/
	display: inline-block; /* or inline-block if you want the span to wrap around the text */
	text-align: center;
}

.pg4span_symbol {
	font-size: 10px;
	/*/margin-right: 25px;*/
	display: inline-block; /* or inline-block if you want the span to wrap around the text */
	text-align: center;
}

#pg6_table {
	width: inherit; 
	height: 85%; 
	min-height: fit-content;
	text-align: center; 
	vertical-align: middle; 
	background-color: var(--tw-black); 
	/*border-radius: 5em;*/
}

.pg6_headliner {

	position: relative;
	width: 100%;
	height: inherit;
	color: #fff;
	font-size: 2vw;
	font-weight: 500;
	/*text-transform: uppercase;*/
	text-align: center;
	background-color: var(--tw-black);
	margin-top: 1vh;
	margin-left: auto;
	margin-right: auto;
	/*border-bottom: 3px solid var(--tw-grey);*/
}

#pg6_table td {
	/*border: 2px solid var(--tw-grey);*/
	border-bottom: 1px solid black;
	box-shadow: 0px 0px 5px 0px var(--tw-grey);
}

.pg6_left {
	min-width: 0px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #fff;
}

.pg6_left span {
	-webkit-text-size-adjust: 100%;
	color-scheme: dark;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "tnum" on,"lnum" on;
	font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
	-webkit-tap-highlight-color: transparent;
	color: #d1d4dc;
	direction: ltr;
	font-size: 1.5em;
	text-align: left;
	display: block;
	line-height: 1.5em;
}

body {
	font-family: Arial, sans-serif;
}
.widget-container {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: inherit;
	background-color: var(--tw-black);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.widget-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	color: #d1d4dc;
	border-bottom: 1px solid #eee;
}
.widget-header h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}
.widget-header img {
	height: 40px;
}

.widget-bottom {
	/*display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-top: 1px solid #eee;*/
	-webkit-text-size-adjust: 100%;
	color-scheme: dark;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "tnum" on,"lnum" on;
	font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
	-webkit-tap-highlight-color: transparent;
	color: #d1d4dc;
	direction: ltr;
	font-size: 2em;
	text-align: left;
	display: block;
}
.widget-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.widget-body p {
	margin: 0;
}
.widget-body__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.widget-body__item__label {
	font-size: 14px;
	font-weight: bold;
	color: var(--tw-lightgrey);
	margin-right: 15px;
}
.widget-body__item__value {
	font-size: 18px;
	font-weight: bold;
	color: var(--tw-red);
}

.widget {
	width: 100%;
	height: 100%;
	background-color: #1E2026;
	color: var(--tw-lightgrey);
	font-size: 44px;
	font-weight: 800;
	font-weight: bold;
	text-align: center;
	padding-top: 10vh;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.widget p {
	margin: 0;
	padding: 0;
	line-height: 2.5;
}


.realtimeWidget {
	width: inherit;
	height: 100px;
	background-color: #333;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	/*border-color: 1px solid greenyellow;*/
}

.realtimeWidget h2 {
	font-size: 16px;
	margin: 0;
}
.realtimeWidget span {
	font-size: 12px;
}
.realtimeWidget.positive {
	color: #0f0;
}
.realtimeWidget.negative {
	color: var(--tw-red);
}

.positive {
	color: #0f0;
}

.negative {
	color: var(--tw-red);
}


.test {
	color-scheme: dark;
	font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
	font-size: 10px;
	user-select: none;
	cursor: default;
	direction: ltr;
	background-clip: content-box;
	height: fit-content;
	margin-top: -1px;
	position: relative;
	background-color: var(--tw-black);
	border-bottom: 1px solid #2a2e39;
	border-top: 1px solid #2a2e39;
	width: 100%;
	justify-content: space-between;
}


.test1 {
	color-scheme: dark;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "tnum" on,"lnum" on;
	font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	cursor: default;
	direction: ltr;
	flex: var(--tv-symbol-list-column-last_price-flex,1 1 75px);
	align-items: center;
	box-sizing: border-box;
	display: inline-flex;
	height: 27px;
	justify-content: flex-end;
	min-width: 0;
	overflow: hidden;
	padding-bottom: 3px;
	padding-right: 8px;
	padding-top: 3px;
	white-space: nowrap;
}

.SpotGrid-widget {
	background-color: var(--tw-black);
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SpotGrid-settings-form-input {
	width: 90%; 
	height: 30px;
	color: white; 
	padding: 5px; 
	border: 1px solid #ccc;
	background-color: var(--tw-grey); 
	border-radius: 5%;
	margin: 5px;
}

.SpotGrid-settings-form-label {

height: 20px;
display: block; 
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
border: 1px solid var(--tw-black);

}

#container13_1 {

	height: 100%; 
	position: relative; 
	flex: 1;
	overflow: hidden;
	width: 100%; 
	border: 2px solid var(--tw-grey);
	padding: 0;
	
}

::-webkit-scrollbar {
	background-color: red;
	width: 0px;
}

#WeekPredict-header {
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly;
	align-items: center;
}

#WeekPredict-points-div {
	z-index: 2;
	overflow-y: scroll;
	position: absolute;
	height: 100vh;
	width: fit-content;
}

.binance-ew-index-outer-wrapper {
	display: flex;
	flex-direction: column;
	padding: 0;
	border: 2px solid var(--tw-grey);
}

.binance-ew-index-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.binance-ew-index-chart {
	width: 300px;
	height: 100px;
	padding: 10px;
}

#binance-ew-index-current-set {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bn-black);
	margin-bottom: 5px;
}

#binance-ew-index-table {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid var(--tw-grey);
	background-color: var(--bn-black);
}

#binance-ew-index-title {
	position: relative;
	width: 100%;
	height: 30px;
	color: #fff;
	text-align: center;
	margin-top: 1vh;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600; font-size: 2em;
	/*border-bottom: 3px solid var(--tw-grey);*/
	justify-content: center;
	align-items: center; /* Vertical alignment */
}

.binance-ew-index-icon {
	text-size-adjust: 100%;
    font-weight: 400;
    line-height: 1.5;
    font-family: BinancePlex,Arial,sans-serif!important;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-label-small {
	padding: 20px;
	border-bottom: 1px solid;
}

.custom-table {
	width: 100%;

	tr {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	tr:last {
		border-top: 1px dashed var(--tw-lightgrey);
	}
}