<!DOCTYPE html>
<html>

<head>
	<title>Cryptoview</title>
	<link rel="icon" type="image/x-icon" href="/static/img/btc.jpg">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="static/style_carousel.css">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/slider.css">
	<link rel="stylesheet" href="static/styles.css">
	<link rel="stylesheet" href="static/styles copy.css">

	<div style="overflow: hidden;">
		<div id="pages" class="pages">
			
			<div class="page one"> 
				<div class="col-md-12" style="margin-top: 40vh;">
					<div class="text w-100 text-center" style="margin: auto;">
						<h1 class="mb-3" style="font-size: 9vw;font-weight: 800;text-transform: uppercase;color: #fff;line-height: 1;">Cryptoview</h1>
						<h2 style="font-size: 16px;text-transform: uppercase;letter-spacing: 2px;font-family: Poppins, Arial, sans-serif;font-weight: 700;color: white;color: #f5e4c3;display: block;position: relative;letter-spacing: 4px;">Trade with us</h2>
					</div>
				</div>
			</div>
			<div id="pg5" class="page five"> 
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--left side-->
						<div class="widget">
							<p style="transform: rotate(270deg); margin-top: 200px; margin-bottom: auto;">CRYPTOVIEW</p>
						</div>
					</div>
					<div class="col-md-8" style="border: 2px solid var(--tw-grey); padding: 0;">
						<h1 class="pg5_headliner mb-3" >Auto-Invest</h1>
						<table id="pg5_table"></table>
					</div>
					<!--<p>Invest now and watch your profit grow!</p>-->
					<div class="col-md-2" style="border: 2px solid var(--tw-grey);">				
					<!--right side-->
					</div>
				</div>
				
			</div> <!--END PAGE 5-->

			<div id="pg10" class="page ten"> 
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--left side-->
						<h1 id="" class="pg5_headliner mb-4" > 

							Rebalancing <br>
							
						</h1>
					</div>
					<div class="col-md-8" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
					
						<div style="border: 2px solid var(--tw-grey); padding: 0;">
							<h1 id="rebalancing-info-div" class="pg5_headliner mb-4" > </h1>
						</div>

						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="container11_3" class="price-info-chart"></div>
						</div>
						
						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="container11_4" class="price-info-chart"></div>
						</div>
					</div>
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--right side-->
						<div class="rebalance-widget">
							
							<div>
								<div style="display: flex; flex-direction: row;">
									<label style=" display: block; margin: 5px; border: 1px solid var(--tw-black);">1</label>
									<input id="rebalance-coin1" type="text" value="BTC" class="rebalance-settings-form-input">

									<input id="rebalance-coin1-allocation" type="number" value=50 class="rebalance-settings-form-input">
								</div>
								
								<div style="display: flex; flex-direction: row;">
									<label style=" display: block; margin: 5px; border: 1px solid var(--tw-black);">2</label>
									<input id="rebalance-coin2" type="text" value="BNB" class="rebalance-settings-form-input">
									<input id="rebalance-coin2-allocation" type="number" value=50 class="rebalance-settings-form-input">
								</div>

								<label style=" display: block; margin-bottom: 5px;">Invest Coin</label>
								<input id="rebalance-investment" type="number" value="1000" class="rebalance-settings-form-input">
								
								<label style=" display: block; margin-bottom: 5px;">Coin ratio (%)</label>
								<input id="rebalance-ratio" type="number" value="1" class="rebalance-settings-form-input">
								
								<label style=" display: block; margin-bottom: 5px;">Candle Type</label>
								<select id="rebalance-interval" class="rebalance-settings-form-input">
									<option selected="selected">1h</option>
									<option value="1m">1m</option>
									<option value="1h">1h</option>
									<option value="1d">1d</option>
									<option value="1w">1w</option>
								</select>

								<label style=" display: block; margin-bottom: 5px;">Start date</label>
								<input id="rebalance-start-date" type="datetime-local" value="2023-09-12T08:00" class="rebalance-settings-form-input" >

								<label style=" display: block; margin-bottom: 5px;">End date</label>
								<input id="rebalance-end-date" type="datetime-local" value="2023-11-13T08:00" class="rebalance-settings-form-input">
								
								<button id="bn_rebalance" style="margin: 5px; background-color: var(--tw-lightblue); color: #fff; padding: 5px 10px; border: none; cursor: pointer;">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div> <!--END PAGE 10-->
			<div id="pg11" class="page ten"> 
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div id="SpotDCA-left" class="col-md-3" style="border: 2px solid var(--tw-grey); padding: 0; z-index: 1;">
						<!--left side-->
						<div id="SpotDCA-left-1" idstyle="border: 2px solid var(--tw-grey); padding: 0; width: 100%; height: 100%;">
							<div id="SpotDCA-header">
									
								<span class="span">Date</span>
								<span class="span">Close</span>
								<span class="span">Base</span>
								<span class="span">Quote</span>
								
							</div>
							<div id="SpotDCA-points-div">
							</div>
						</div>
					</div>
					<div class="col-md-7" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0; z-index: 1;">
					
						<div style="border: 2px solid var(--tw-grey); padding: 0;">
							<h1 id="spotDCA-info-div" class="pg5_headliner mb-4" ></h1>
						</div>

						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="container12_1"  style="height: 99.9%; position: relative; flex: 1;overflow: hidden;width: 100%; border: 2px solid var(--tw-grey); padding: 0;"></div>
						</div>
						
					</div>
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--right side-->
						<div class="DCA-widget">
							<div>
								<div style="display: flex; flex-direction: column;">
									<label class="DCA-settings-form-label">1. Enter trading pair</label>
									<input id="DCA-pair" type="text" value="BTCUSDT" class="DCA-settings-form-input">
								</div>

								<div style="display: flex; flex-direction: column;">
									<label class="DCA-settings-form-label">2. Price Deviation (%)</label>
									<input id="DCA-price-deviation" type="number" value="1" class="DCA-settings-form-input">
								</div>

								<div style="display: flex; flex-direction: column;">
									<label class="DCA-settings-form-label">3. Take Profit (%)</label>
									<input id="DCA-take-profit" type="number" value="5" class="DCA-settings-form-input">
								</div>

								<div style="display: flex; flex-direction: column;">
									<label class="DCA-settings-form-label">4. Base Order</label>
									<input id="DCA-base-order" type="number" value="1000" class="DCA-settings-form-input">

									<label class="DCA-settings-form-label">5. DCA Order Size</label>
									<input id="DCA-order-size" type="number" value="1000" class="DCA-settings-form-input">

									<label class="DCA-settings-form-label">6. Max DCA Orders</label>
									<input id="DCA-order-count" type="number" value="35" class="DCA-settings-form-input">
								</div>
								
								<div style="border: 1px solid #ccc;">
									<label class="DCA-settings-form-label">Candle Type</label>
									<select id="DCA-interval" class="DCA-settings-form-input">
										<option selected="selected">1d</option>
										<option value="1m">1m</option>
										<option value="1h">1h</option>
										<option value="1d">1d</option>
										<option value="1w">1w</option>
									</select>
	
									<label class="DCA-settings-form-label">Start date</label>
									<input id="DCA-start-date" type="datetime-local" value="2023-07-13T08:00" class="DCA-settings-form-input" >
	
									<label class="DCA-settings-form-label">End date</label>
									<input id="DCA-end-date" type="datetime-local" value="2023-11-13T08:00" class="DCA-settings-form-input">
								</div>
								<button id="bn_DCA" style="margin: 5px; background-color: var(--tw-lightblue); color: #fff; padding: 5px 10px; border: none; cursor: pointer;">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div> <!--END PAGE 11-->
			<div id="pg12" class="page ten">
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--left side-->
						<div style="border: 2px solid var(--tw-grey); padding: 0; width: 100%; height: 100%;">
							<h1 id="" class="pg5_headliner mb-4" > 

								Spot Grid  <br>
							</h1>
						</div>
					</div>
					<div class="col-md-8" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
					
						<div style="border: 2px solid var(--tw-grey); padding: 0;">
							<h1 id="spotGrid-info-div" class="pg5_headliner mb-4"></h1>
						</div>

						<div id="spot-grid-div" style="display: flex; flex-direction: row; flex: 1;">
							<div id="container13_1"></div>
						</div>
					</div>
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--right side-->
						<div class="SpotGrid-widget">
							<div>
								<div style="display: flex; flex-direction: column;">
									<label class="SpotGrid-settings-form-label">1. Enter trading pair</label>
									<input id="SpotGrid-pair" type="text" value="LTCUSDT" class="SpotGrid-settings-form-input">
								</div>

								<div style="display: flex; flex-direction: column;">
									<label style=" display: block; margin: 5px; border: 1px solid var(--tw-black);">2. Price Range</label>
									<div style="display: flex; flex-direction: row;">
										<input id="SpotGrid-lower" type="number" placeholder="Lower Price Range" readonly class="SpotGrid-settings-form-input">
										<label style="margin: 5px;">-</label>
										<input id="SpotGrid-upper" type="number" placeholder="Upper Price Range" readonly class="SpotGrid-settings-form-input">
									</div>
								</div>
								
								<div style="display: flex; flex-direction: column;">
									<label class="SpotGrid-settings-form-label">3. Grids</label>
									<input id="SpotGrid-grids" type="number" value="7" class="SpotGrid-settings-form-input">
								</div>

								<div style="display: flex; flex-direction: column;">
									<label class="SpotGrid-settings-form-label">4. Investment</label>
									<input id="SpotGrid-investment" type="number" value="1000" class="SpotGrid-settings-form-input">
								</div>
								
								<div style="border: 1px solid #ccc;">
									<label class="SpotGrid-settings-form-label">Candle Type</label>
									<select id="SpotGrid-interval" class="SpotGrid-settings-form-input">
										<option selected="selected">1h</option>
										<option value="1m">1m</option>
										<option value="1h">1h</option>
										<option value="1d">1d</option>
										<option value="1w">1w</option>
									</select>
	
									<label class="SpotGrid-settings-form-label">Start date</label>
									<input id="SpotGrid-start-date" type="datetime-local" value="2023-10-13T08:00" class="SpotGrid-settings-form-input" >
	
									<label class="SpotGrid-settings-form-label">End date</label>
									<input id="SpotGrid-end-date" type="datetime-local"  value="2023-11-13T20:00" class="SpotGrid-settings-form-input">
								</div>
						
								<button id="bn_SpotGrid" style="margin: 5px; background-color: var(--tw-lightblue); color: #fff; padding: 5px 10px; border: none; cursor: pointer;">Submit</button>
							</div>
						</div>
					</div>
				</div> 
			</div> <!--END PAGE 12-->
			<div id="pg13" class="page ten">
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div id="WeekPredict-left-side" class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--left side-->
						<div id="WeekPredict-left-1" idstyle="border: 2px solid var(--tw-grey); padding: 0; width: 100%; height: 100%;">
							<div id="WeekPredict-header">
									
								<span class="span">Date</span>
								<span class="span">Duration</span>
								<span class="span">Invested</span>
								<span class="span">Balance</span>
								
							</div>
							<div id="WeekPredict-points-div">
							</div>
						</div>
						

					</div>
					<div class="col-md-8" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
					
						<div style="border: 2px solid var(--tw-grey); padding: 0;">
							<h1 id="week-predict-info-div" class="pg5_headliner mb-4"></h1>
						</div>

						<div id="week-predict-div" style="display: flex; flex-direction: row; flex: 1;">
							<div id="container14_1" style="width: 100%; height: 99.9%;"></div>
						</div>
					</div>
					<div id="WeekPredict-right-side" class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0; width: 100%; height: 100%;">
						<!--<div id="WeekPredict-left" class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0; z-index: 1; width: 100%;">-->
													<!--left side-->
						<div style="border: 2px solid var(--tw-grey); padding: 0; width: 100%; height: 100%;">
							<h1 id="" class="pg5_headliner mb-4" > 
								Week Predictions  <br>
							</h1>
						</div>
						<!--</div>-->
					</div>
				</div> 
			</div> <!--END PAGE 13-->
			<div id="pg2" class="page two"> 
				<div class="modal-body row" style="height: 100vh; padding-bottom: 0; padding-top: 0;">
					<div class="col-md-4" style="border: 2px solid var(--tw-grey); position: relative; padding: 0;">
						<!--left side-->
						<div class="pg6_left" style=" display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 1vh; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%); border-bottom: 2px solid var(--tw-grey);">
							<span class="widget-bottom">Saving Staking</span>
							<span class="widget-bottom">Compound Interest Investing</span>
						</div>
						<div class="pg6_left" style="bottom: 0;  margin-top: 5vh; border-radius: 10px; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%);">
							<ol>
								<span class="widget-bottom" style="margin-bottom: 15px;">1. Choose an investment amount.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">2. Divide your investment amount into equal parts.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">3. Invest the equal parts at regular intervals.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">4. Monitor market conditions for price fluctuations.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">5. Adjust investments to buy more at low prices and less at high prices.</span>
							</ol>
						</div>
					</div>
					<div class="col-md-8" style="border: 2px solid var(--tw-grey); padding: 0;">
						<div style="width: 100%; height: 100px; border: 2px solid var(--tw-grey); display: grid; justify-content: center; align-items: center;">
							<span class="pg2_headliner" >Our Top 10 Today!</h1>
						</div>
						<table id="pg2_table"></table>
					</div>
				</div>
			</div> <!--END PAGE 2-->
			<div id="pg3" class="page three"> 
				<div id="binance-div-test" style= "width: 100vw; height: 100vh; padding-bottom: 0; padding-top: 0; padding-right: 5px; padding-left: 5px;">
					
					<div style="width: 100%; background-color: var(--bn-black);">
						<div id="binance-ew-index-current-set">
						
							<div class="binance-ew-index-icon">
								<img src="/static/img/BTC.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">BTC</span>
								<span style="font-size: small; justify-content: center;">Bitcoin</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/ETH.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">ETH</span>
								<span style="font-size: small; justify-content: center;">Ethereum</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/BNB.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">BNB</span>
								<span style="font-size: small; justify-content: center;">BNB</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/XRP.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">XRP</span>
								<span style="font-size: small; justify-content: center;">XRP</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/SOL.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">SOL</span>
								<span style="font-size: small; justify-content: center;">Solana</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/ADA.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">ADA</span>
								<span style="font-size: small; justify-content: center;">Cardano</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/TRX.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">TRX</span>
								<span style="font-size: small; justify-content: center;">TRON</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/LINK.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">LINK</span>
								<span style="font-size: small; justify-content: center;">Chainlink</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/DOT.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">DOT</span>
								<span style="font-size: small; justify-content: center;">Polkadot</span>
							</div>
	
							<div class="binance-ew-index-icon">
								<img src="/static/img/LTC.png" width="50" height="50">
								<span style="font-size: larger; font-weight: bold; align-items: center; margin-top: 10px;">LTC</span>
								<span style="font-size: small; justify-content: center;">Litecoin</span>
							</div>
	
						</div>
					</div>

					<div class="binance-ew-index-outer-wrapper">
						<div id="binance-ew-index-chart-wrapper" class="binance-ew-index-wrapper">
							<div id="binance-container1" class="binance-ew-index-chart"></div>
							<div id="binance-container2" class="binance-ew-index-chart"></div>
							<div id="binance-container3" class="binance-ew-index-chart"></div>
							<div id="binance-container4" class="binance-ew-index-chart"></div>
							<div id="binance-container5" class="binance-ew-index-chart"></div>
						</div>
						<div id="binance-ew-index-chart-wrapper" class="binance-ew-index-wrapper">
							<div id="binance-container6" class="binance-ew-index-chart"></div>
							<div id="binance-container7" class="binance-ew-index-chart"></div>
							<div id="binance-container8" class="binance-ew-index-chart"></div>
							<div id="binance-container9" class="binance-ew-index-chart"></div>
							<div id="binance-container10" class="binance-ew-index-chart"></div>
						</div>
					</div>
					<!--tady potrebuju tabulku kde budou ty data-->
					<div id="binance-ew-index-table">
						<h1 id="binance-ew-index-title" class="mb-4" > 
							Binance CMC Top 10 Equal-Weighted Index
						</h1>
					</div>
				</div>
			</div> <!--END PAGE 3-->
		</div>
	</div>

	<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{{url_for('static', filename='controls.js')}}"></script>
	<script src="{{url_for('static', filename='slider.js')}}"></script>
	<script src="{{url_for('static', filename='realtimeWidget.js')}}"></script>
	<script src="{{url_for('static', filename='auto-invest.js')}}"></script>
	<script src="{{url_for('static', filename='rebalancing-bot.js')}}"></script>
	<script src="{{url_for('static', filename='spot-dca-bot.js')}}"></script>
	<script src="{{url_for('static', filename='spot-grid-bot.js')}}"></script>
	<script src="{{url_for('static', filename='top10.js')}}"></script>
	<script src="{{url_for('static', filename='week-predict.js')}}"></script>
	<script src="{{url_for('static', filename='get-data.js')}}"></script>
	<script src="{{url_for('static', filename='chart.js')}}"></script>
	<script src="{{url_for('static', filename='config.js')}}"></script>
</body>
</html>