<!DOCTYPE html>
<html>

<head>
	<title>Cryptoview</title>
	 <link rel="icon" type="image/x-icon" href="/static/img/btc.png">
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="static/style_carousel.css">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/slider.css">
	<link rel="stylesheet" href="static/styles.css">
	<link rel="stylesheet" href="static/styles copy.css">

	<div style="overflow: hidden;">
		<div id="pages" class="pages">
			<div class="page one"> 
				<div class="col-md-12" style="margin-top: 40vh;">
					<div class="text w-100 text-center" style="margin: auto;">
						<h1 class="mb-3" style="font-size: 9vw;font-weight: 800;text-transform: uppercase;color: #fff;line-height: 1;">Cryptoview</h1>
						<h2 style="font-size: 16px;text-transform: uppercase;letter-spacing: 2px;font-family: Poppins, Arial, sans-serif;font-weight: 700;color: white;color: #f5e4c3;display: block;position: relative;letter-spacing: 4px;">Trade with us</h2>
						<!--<button class="btn btn-outline-secondary bn_next" onclick="slide('next')" style="margin-top: 1%;">next</button>-->
					</div>
				</div>
			</div>
			<div id="pg2" class="page two"> 
				<!--<button type="button" class="btn btn-outline-secondary bn_prev" onclick="slide('prev')">prev</button>-->
				<!--<button type="button" class="btn btn-outline-secondary bn_next" onclick="slide('next')">next</button>-->

				<div class="modal-body row" style="height: 100vh; padding-bottom: 0; padding-top: 0;">
					<div class="col-md-4" style="border: 2px solid var(--tw-grey); position: relative; padding: 0;">
						<!--left side-->
						<div class="pg6_left" style=" display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 1vh; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%); border-bottom: 2px solid var(--tw-grey);">

							<span class="widget-bottom">Saving Staking</span>
							
							<span class="widget-bottom">Compound Interest Investing</span>

						</div>
						<div class="pg6_left" style="bottom: 0;  margin-top: 5vh; border-radius: 10px; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%);">
							<ol>
								<span class="widget-bottom" style="margin-bottom: 15px;">1. Choose an investment amount.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">2. Divide your investment amount into equal parts.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">3. Invest the equal parts at regular intervals.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">4. Monitor market conditions for price fluctuations.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">5. Adjust investments to buy more at low prices and less at high prices.</span>
							</ol>
								
							
						</div>
					</div>
					<div class="col-md-8" style="border: 2px solid var(--tw-grey); padding: 0;">
						<div>

						</div>
						<div style="width: 100%; height: 100px; border: 2px solid var(--tw-grey); display: grid; justify-content: center; align-items: center;">
							<span class="pg2_headliner" >Our Top 10 Today!</h1>
						</div>
						<table id="pg2_table"></table>
					</div>
				</div>
				
			</div> <!--END PAGE 2-->
			<div id="pg5" class="page five"> 
				<!--<button type="button" class="btn btn-outline-secondary bn_prev" onclick="slide('prev')">prev</button>-->
				<!--<button type="button" class="btn btn-outline-secondary bn_next" onclick="slide('next')">next</button>-->

				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--left side-->
						<div class="widget">
							<p style="transform: rotate(270deg); margin-top: 200px; margin-bottom: auto;">CRYPTOVIEW</p>
						</div>
					</div>
					<div class="col-md-8" style="border: 2px solid var(--tw-grey); padding: 0;">
						<h1 class="pg5_headliner mb-3" >Cryptoview Simple Earn</h1>
						<table id="pg5_table"></table>
					</div>
					<!--<p>Invest now and watch your profit grow!</p>-->
					<div class="col-md-2" style="border: 2px solid var(--tw-grey);">
						<!--<h1 class="info-label">Bitcoin</h1>-->
						<!--<img src="static/img/test.png" style="align-items: center; height: 80%;">-->
						<div id="realtimeWidget1" class="realtimeWidget">
							<h2>Loading...</h2>
							<span>Loading...</span>
							<span>Loading...</span>
							<span>Loading...</span>
						</div>

						<div id="realtimeWidget2" class="realtimeWidget">
							<h2>Loading...</h2>
							<span>Loading...</span>
							<span>Loading...</span>
							<span>Loading...</span>
						</div>

						<div id="realtimeWidget3" class="realtimeWidget">
							<h2>Loading...</h2>
							<span>Loading...</span>
							<span>Loading...</span>
							<span>Loading...</span>
						</div>

						<div id="realtimeWidget4" class="realtimeWidget">
							<h2>Loading...</h2>
							<span>Loading...</span>
							<span>Loading...</span>
							<span>Loading...</span>
						</div>

						<div id="realtimeWidget5" class="realtimeWidget">
							<h2>Loading...</h2>
							<span>Loading...</span>
							<span>Loading...</span>
							<span>Loading...</span>
						</div>
					<!--right side-->
					</div>
				</div>
				
			</div> <!--END PAGE 5-->
			<div id="pg4" class="page four"> 
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<table id="pg4_table" style=" width: inherit; height: 100%; text-align: center; vertical-align: middle; padding: 0;">
						</table>

					</div>
					<div class="col-md-8" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
						<div style="width: 100%; height: 100px; border: 2px solid var(--tw-grey); display: grid; justify-content: center; align-items: center;">
							<span class="widget-bottom" style="padding: 5px; font-weight: 600; font-size: 3em;">Cryptoview Peaks & Valleys</span>
						</div>
						
						<div style="display: flex; flex-direction: row;">
							<div id="container4_1" class="price-info-chart"></div>
							<div id="container4_2" class="price-info-chart"></div>
						</div>
						
						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="container4_3" class="price-info-chart"></div>
							<div id="container4_4" class="price-info-chart"></div>
						</div>
						
						
					</div>
					<div class="col-md-2" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--right side-->
						<div id="pg4_realtime_widget">
							<div id="pg4_realtime_widget_header" style="display: flex; flex-direction: row; justify-content: space-between;">
								
								<span class="span">Symbol</span>
								<span class="span">Last</span>
								<span class="span">Chg</span>
								<span class="span">Chg %</span>

							</div>
							
							<div id="wd1" class="test"></div>
							<div id="wd2" class="test"></div>
							<div id="wd3" class="test"></div>
							<div id="wd4" class="test"></div>
							<div id="wd5" class="test"></div>
							<div id="wd6" class="test"></div>
							<div id="wd7" class="test"></div>
							<div id="wd8" class="test"></div>
							<div id="wd9" class="test"></div>
							<div id="wd10" class="test"></div>
							<div id="wd11" class="test"></div>
							<div id="wd12" class="test"></div>
							<div id="wd13" class="test"></div>
							<div id="wd14" class="test"></div>
							<div id="wd15" class="test"></div>
							<div id="wd16" class="test"></div>
							<div id="wd17" class="test"></div>
							<div id="wd18" class="test"></div>
							<div id="wd19" class="test"></div>
							<div id="wd20" class="test"></div>

						</div>
						
					</div>
				</div>
			</div> <!--END PAGE 4-->
			<div id="pg6" class="page six"> 
				<!--<button type="button" class="btn btn-outline-secondary bn_prev" onclick="slide('prev')">prev</button>-->
				<!--<button type="button" class="btn btn-outline-secondary bn_next" onclick="slide('next')">next</button>-->

				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0;">
					<div class="col-md-4" style="border: 2px solid var(--tw-grey); position: relative; padding: 0;">
						<!--left side-->
						<div class="pg6_left" style=" display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 5px; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%); border-bottom: 1px solid var(--tw-grey);">

							<span class="widget-bottom">DFA</span>
							
							<span class="widget-bottom">Dollar-First-Averaging</span>

						</div>
						<div class="pg6_left" style="bottom: 0;  margin-top: 5vh; border-radius: 10px; background: radial-gradient(ellipse at center, var(--tw-black) 50%, var(--tw-black) 100%);">
							<ol>
								<span class="widget-bottom" style="margin-bottom: 15px;">1. Decide on an investment amount.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">2. Invest that amount at regular intervals.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">3. Purchase more shares when prices are low.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">4. Purchase fewer shares when prices are high.</span>
								<span class="widget-bottom" style="margin-bottom: 15px;">5. Repeat over a long period for potential growth.</span>
							</ol>
								
							
						</div>
					</div>
					<div class="col-md-8" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
						<h1 class="pg6_headliner mb-3" >Here Is An Example Of Investing
							<span style="color: var(--tw-green); font-weight: 600;">100 $</span>
							Per Day For <span style="color: var(--tw-green); font-weight: 600;">60</span>
							 Days
						</h1>
						
						<div style="display: flex; flex-direction: row;">
							<div id="lw-dfa-1" class="price-info-chart"></div>
							<div id="lw-dfa-2" class="price-info-chart"></div>
						</div>
						
						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="lw-dfa-3" class="price-info-chart"></div>
							<div id="lw-dfa-4" class="price-info-chart"></div>
						</div>
					
					</div>
					<!---->
					<div class="col-md-0" style="border: 2px solid var(--tw-grey); padding: 0;">
						<!--<h1 class="info-label">Bitcoin</h1>-->
						<!--<div style="border: 2px solid var(--tw-grey); width: inherit; height: 50%; position: sticky; top: 0; left: 0; display: flex; flex-wrap: wrap; align-content: flex-start; padding: 0;">test</div>-->
					<!--right side-->
					</div>
				</div>
				
			</div> <!--END PAGE 6-->
			<div id="pg7" class="page seven"> 
				<div class="modal-body row" style="height: 100vh; padding-top: 0; padding-bottom: 0; justify-content: center; width: 100%;">
					
					<div class="col-md-11" style="display: flex; flex-direction: column; border: 2px solid var(--tw-grey); padding: 0;">
						<div style="width: 100%; height: 100px; border: 2px solid var(--tw-grey); display: grid; justify-content: center; align-items: center;">
							<span class="widget-bottom" style="padding: 5px; font-weight: 600; font-size: 3em;">Cryptoview Realtime Trades</span>
						</div>
						
						<div style="display: flex; flex-direction: row;">
							<div id="lw-live-1" class="price-info-chart"></div>
							<div id="lw-live-2" class="price-info-chart"></div>
						</div>
						
						<div style="display: flex; flex-direction: row; flex: 1;">
							<div id="lw-live-3" class="price-info-chart"></div>
							<div id="lw-live-4" class="price-info-chart"></div>
						</div>
						
						
					</div>
					
				</div>
				
			</div> <!--END PAGE 7-->
		</div>
	</div>
	
	<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{{url_for('static', filename='controls.js')}}"></script>
	<script src="{{url_for('static', filename='chart.js')}}"></script>
	<script src="{{url_for('static', filename='slider.js')}}"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>-->
	<script src="{{url_for('static', filename='scripts.js')}}"></script>
	<script src="{{url_for('static', filename='scripts copy.js')}}"></script>
	<script src="{{url_for('static', filename='realtimeWidget.js')}}"></script>
	<script src="{{url_for('static', filename='lw-live.js')}}"></script>
	<script src="{{url_for('static', filename='lw-dfa.js')}}"></script>
	<script src="{{url_for('static', filename='config.js')}}"></script>
	
</body>
</html>