<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Top 10 Binance Assets</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="top-ten-assets"></div>

<script>
	$(document).ready(function() {
	function getTopTenAssets() {
		$.ajax({
		url: 'https://api.binance.com/api/v3/exchangeInfo',
		method: 'GET',
		success: function(data) {
			var topTenAssets = [];
			data.symbols.sort(function(a, b) {
			return b.marketCap - a.marketCap;
			});
			for (var i = 0; i < 10; i++) {
			topTenAssets.push(data.symbols[i].symbol);
			}
			$('#top-ten-assets').html('Top 10 Assets: ' + topTenAssets.join(', '));
		}
		});
	}

	getTopTenAssets();

	// Update top 10 assets every 5 minutes
	setInterval(getTopTenAssets, 300000);
	});
</script>
</body>
</html>
