<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Bitcoin Chart</title>
	<script src="https://unpkg.com/lightweight-charts@^3.0.0/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
	<div id="chart" style="width: 95vw; height: 95vh;"></div>
	<script>
	const binanceUrl =
		"https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1d&limit=90";
	fetch(binanceUrl)
		.then((response) => response.json())
		.then((data) => {
		console.log(data)
		const ohlc = data.map((d) => ({
			time: new Date(d[0]).toISOString().slice(0, 10),
			open: parseFloat(d[1]),
			high: parseFloat(d[2]),
			low: parseFloat(d[3]),
			close: parseFloat(d[4]),
		}));
		const peaks = [];
		const valleys = [];
		for (let i = 1; i < ohlc.length - 1; i++) {
			if (
			ohlc[i].high > ohlc[i - 1].high &&
			ohlc[i].high > ohlc[i + 1].high
			) {
			peaks.push({ time: ohlc[i].time, price: ohlc[i].high });
			}
			if (
			ohlc[i].low < ohlc[i - 1].low &&
			ohlc[i].low < ohlc[i + 1].low
			) {
			valleys.push({ time: ohlc[i].time, price: ohlc[i].low });
			}
		}
		console.log(peaks);
		console.log(valleys);

		const chart = LightweightCharts.createChart(
			document.getElementById("chart"),
			{
			width: document.getElementById("chart").width,
			height: document.getElementById("chart").height,
			}
		);
		const candlestickSeries = chart.addCandlestickSeries();
		candlestickSeries.setData(ohlc);

		const peakSeries = chart.addLineSeries({
			color: "yellow",
			lineWidth: 10,
		});
		peakSeries.setData(peaks);

		const valleySeries = chart.addLineSeries({
			color: "purple",
			lineWidth: 2,
		});
		valleySeries.setData(valleys);

		})
		.catch((error) => {
		console.error("Error:", error);
		});
	</script>
</body>
</html>
