#auto_invest_calc_label_large {
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
	text-align: left;
	padding-left: 100px;
}

#auto_invest_calc_label_small {
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Poppins, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	display: block;
	position: relative;
	text-align: left;
	padding-left: 100px;
	font-weight: initial;
	flex-direction: row;
}

#auto_invest_calc_description_wrapper {
	width: 50vw;
	height: 100vh;
	margin: auto;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}


#auto_invest_calc_table .info-label {
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
}

.auto_invest_calc_headliner {
	position: relative;
	width: 100%;
	color: #fff;
	text-align: center;
	background-color: var(--tw-black);
	font-weight: 600;
	font-size: 3em;
}

#auto_invest_calc_div {

	width: 40vw;
	height: 70vh;
	min-height: fit-content;
	text-align: center;
	vertical-align: middle;
	background-color: var(--bn-black);
	border-radius: 2rem;
	margin: 14.5vh auto auto auto;

}

#auto_invest_calc_space_div {
	width: 100%;
	height: 5vh;
	margin: 0;
	padding: 0;
	border-radius: 2rem;
}

#auto_invest_calc_search_div_wrapper {
	display: inline-flex;
	align-items: flex-start;
	width: 80%;
	height: fit-content;
	background-color: var(--bn-black);
	border: 1px solid #fff;
	color: white;
	border-radius: 2rem;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.auto_invest_calc_search_div {
	width: 75%;
	background-color: var(--bn-black);
	color: white;
	font-weight: 500;
	box-sizing: border-box;
	margin-top: 0.26rem;
	min-width: 0px;
	outline: none;
	border: none;
	opacity: 1;
	padding: 0px !important;
}

.auto_invest_calc_search_icon {
	width: 24px;
	height: 24px;
	margin: 5px;
}

.auto_invest_calc_table_img {
	position: relative;
	width: 24px;
	height: 24px;
	background-color: var(--tw-black);
	border-radius: 50%;
	margin-left: 5px;
}

/*----------------------------------------*/

@media (max-height: 700px) {

	#auto_invest_calc_div {

		width: 50vw;
		height: 40vh;
		text-align: center;
		background-color: var(--bn-black);
		border-radius: 2rem;
		margin: 7.25vh auto auto auto;
	
	}
}