#binance_cmc_ew_index_label_large {
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
	text-align: left;
	padding-left: 100px;
}

#binance_cmc_ew_index_label_small {
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Poppins, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	display: block;
	position: relative;
	text-align: left;
	padding-left: 100px;
	font-weight: initial;
	flex-direction: row;

}

#binance_cmc_ew_index_description_wrapper {
	width: 50vw;
	height: 100vh;
	margin: auto;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#binance_cmc_ew_index_main_div {
	width: 40vw;
	height: 70vh;
	background-color: var(--bn-black);
	border-radius: 2rem;
	margin: 14.5vh auto auto auto;
	display: flex;
	flex-direction: column;

}

.binance_cmc_ew_index_img {
	position: relative;
	width: 80px;
	height: 80px;
	background-color: var(--tw-black);
	border-radius: 50%;
}

#binance_cmc_ew_index_wrapper_div { 
	width: inherit;
	height: 50%; 
	margin-top: 20%;
	margin-left: 2vw;
}

/*----------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {

	#binance_cmc_ew_index_label_large {
		padding-left: 2.5rem;
	}

	#binance_cmc_ew_index_label_small {
		padding-left: 2.5rem;
	}
}


@media (min-width: 992px) {
	
	.binance_cmc_ew_index_img_wrapper {
		height: fit-content;
		padding: 0;
		display: flex;
		flex-direction: column; 
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	
	.binance_cmc_ew_index_img {
		position: relative;
		width: 80px;
		height: 80px;
		background-color: var(--tw-black);
		border-radius: 50%;
	}

	.binance_cmc_ew_index_img_name {
		padding: 0;
		text-size-adjust: 100%;
		font-family: BinancePlex,Arial,sans-serif!important;
		outline: 0;
		box-sizing: border-box;
		min-width: 0px;
		color: rgb(234, 236, 239);
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		margin-top: 2vh;
	}

	#binance_cmc_ew_index_wrapper_div { 
		width: 100%;
		height: 70vh;
		margin: auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.binance_cmc_ew_index_coin_div {
		width: fit-content;
		margin: 16vh auto auto 0vh;
		display: inline-flex;
		align-items: center;
		/*background-color: blue;*/
	}
}


@media (max-width: 991px) {

	#binance_cmc_ew_index_label_large {
		padding-left: 2.5rem;
		font-size: 36px;
	}

	#binance_cmc_ew_index_label_small {
		padding-left: 2.5rem;
	}
	
	.binance_cmc_ew_index_img_wrapper {

		height: fit-content;
		padding: 0;
		display: flex;
		flex-direction: column; 

	}
	
	.binance_cmc_ew_index_img {
		position: relative;
		width: 25px;
		height: 25px;
		background-color: var(--tw-black);
		border-radius: 50%;
		margin-right: 2vw;
	}

	.binance_cmc_ew_index_img_name {
		padding: 0;
		text-size-adjust: 100%;
		font-family: BinancePlex,Arial,sans-serif!important;
		outline: 0;
		box-sizing: border-box;
		min-width: 0px;
		color: rgb(234, 236, 239);
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		margin-top: 2vh;
		margin-left: -1vw;
	}

	#binance_cmc_ew_index_wrapper_div { 
		width: 100%;
		height: 70vh;
		margin: auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.binance_cmc_ew_index_coin_div {
		width: fit-content;
		margin: 16vh auto auto 0vh;
		display: inline-flex;
		align-items: center;
		/*background-color: red;*/
	}
}


@media (max-width: 768px) {

	#binance_cmc_ew_index_description_wrapper {
		width: 80vw;;
	}

	#binance_cmc_ew_index_label_large {
		padding-left: 2.5rem;
		font-size: 48px;
	}

	#binance_cmc_ew_index_label_small {
		padding-left: 2.5rem;
	}
	
	#binance_cmc_ew_index_main_div {
		width: 70vw;
		margin-bottom: 3rem;
	}
	
	.binance_cmc_ew_index_img {
		position: relative;
		width: 60px;
		height: 60px;
		background-color: var(--tw-black);
		border-radius: 50%;
		margin-right: 2vw;
	}

	#binance_cmc_ew_index_wrapper_div { 
		width: 100%;
		height: 100%;
		margin: auto;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	.binance_cmc_ew_index_coin_div {
		margin: 8vh auto 8vh auto;
		width: fit-content;
	}
}

@media (max-width: 1400px) { 
	.binance_cmc_ew_index_img {
		width: 50px;
		height: 50px;
		display: flex;
        align-self: center;
	}
}